[Desktop Entry]
Name=Dualie SSH Tunnel
Exec=bash -c "source ~/sweep/dualie_ssh_tunnel"
Icon=~/sweep/phone_home.svg
Type=Application
Categories=GTK;GNOME;Utility;
